@import "~bootstrap/dist/css/bootstrap.min.css";

/* Estilo para el navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem ;
  margin: 1rem auto;
  background-color: #4b79a1;
  border-radius: 1rem;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size:1.5rem ;
}

.navbar .navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 1.5rem;

}

.nav-link {
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}
.nav-link:hover{
  color: #d1e7ff;
    font-weight: bold;
}


h2{
  margin-left: 1rem;
  font-size: 2rem;
  color: #4b79a1;
}
/* Estilo para la tabla */

.employee-link{
  text-decoration: none;
  color: black;
}

.employee-link:hover{
color: blue;
font-weight: bold;
}

.table {
  margin-top: 20px;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

.table th, .table td {
  vertical-align: middle;
}

.table thead th {
  background-color: #007bff;
  color: white;
}
.table thead th:hover {
  color: lightblue;
}

/* Estilo para la paginación */
.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.pagination .page-link {
  color: #007bff;
  background-color: white;
  border: 1px solid #dee2e6;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
}

.pagination .page-link:hover {
  color: #0056b3;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.pagination .page-item.active .page-link {
  color: white;
  background-color: #007bff;
  border-color: #007bff;
}